.login-button {
  background-color: burlywood;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 12px;
  width: 95px;
  justify-content: space-between;
  border-radius: 12px;
}

.login-image {
  width: 30px;
}

.login-text {
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 22px;
}
